body{
    background-color: hsl(24, 82%, 75%);
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.day-box {
    background: lab(85.36% 13.49 25.47);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    min-height: 150px;
    font-family: "Abril Fatface", serif;
}

.day-box h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.day-box ul {
    list-style-type: none;
    padding-left: 0;
}

.checkbox-container label {
  color: #c0ac91;
  font-family: 'Abril Fatface', serif;
  font-weight: bold;
  font-size: 16px;
}

.date-heading {
    color: #b04308;
    font-family: 'Abril Fatface', 'URW Bookman L', serif;
    font-size: 2rem;
    font-weight: bold;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.days {
    font-family: 'Abril Fatface', serif;
}

.checkbox-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Abril Fatface', serif;
}

.button {
    background-color:#60361f;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: 'Abril Fatface', serif;
    font-size: 16px;
}

input[type="text"] {
  border: 2px solid #60361f;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  outline: none;
}
