.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.day-box {
    background: hwb(31 78% 2%);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    min-height: 150px;
}

.day-box h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.day-box ul {
    list-style-type: none;
    padding-left: 0;
}
