{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('add') }}" method="POST">

        <h2 class="date-heading">Week of {{ week_sunday.strftime('%B %d, %Y') }}</h2>
        <input type="text" name="task" placeholder="Enter a task" required>

        <div class ="checkbox-row">

            <label>
            <input type="checkbox" name="days" value="Sunday"> Sunday
            </label>
            
            <label>
            <input type="checkbox" name="days" value="Monday"> Monday
            </label>

            <label>
            <input type="checkbox" name="days" value="Tuesday"> Tuesday
            </label>

            <label>
            <input type="checkbox" name="days" value="Wednesday"> Wednesday
            </label>

            <label>
            <input type="checkbox" name="days" value="Thursday"> Thursday
            </label>

            <label>
            <input type="checkbox" name="days" value="Friday"> Friday
            </label>

            <label>
            <input type="checkbox" name="days" value="Saturday"> Saturday
            </label>
        </div>
        <span class="checkmark"></span>

        <button type="submit" class="button">Add</button>
        
    </form>

    <div class="week">
        {% for day, tasks in tasks_by_day.items() %}
            <div class="day-box">
                <h3>{{ day }}</h3>
                <ul>
                    {% for task in tasks %}
                        <li>
                            {% if task.done %}
                                <span style="text-decoration: line-through; color: #888;">{{ task.content }}</span>
                            {% else %}
                                {{ task.content }}
                                <a href="{{ url_for('mark_done', task_id=task.id) }}">✓</a>
                            {% endif %}
                            <a href="{{ url_for('delete', task_id=task.id) }}">✕</a>
                        </li>
                    {% else %}
                        <li>No tasks yet</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
